.score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.game-over-score {
    margin: 1em;
    font-size: 2em;
}

.game-over-previous-score {
    margin: 1em;
}
